<div id="<%= dom_id transaction %>">
  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= transaction.customer_id %>
  </p>

  <p>
    <strong>Input amount:</strong>
    <%= transaction.input_amount %>
  </p>

  <p>
    <strong>Input currency:</strong>
    <%= transaction.input_currency %>
  </p>

  <p>
    <strong>Output amount:</strong>
    <%= transaction.output_amount %>
  </p>

  <p>
    <strong>Output currency:</strong>
    <%= transaction.output_currency %>
  </p>

</div>
